
{% extends "APP/base.html" %} 


{% block content %}
<div class="col-xl-12">
  <div class="card">
    <div class="card-header">
      <h5>Liste des lignes</h5>
    </div>
    <div class="card-block table-border-style">
      <div class="table-responsive">
            <a href="{% url 'S15' %}" class="btn btn-primary">S15</a>
            <a href="#s25" class="btn btn-success">S25</a>
            <a href="#esb-eso-rotatif" class="btn btn-danger">ESB/ESO Rotatif</a>

      </div>
    </div>
  </div>
</div>




{% endblock content %}