{% extends "APP/base.html" %} 


{% block content %}
<div class="col-xl-12">
  <div class="card">
    <div class="card-header">
      <h5>Mettre à jour ce profil</h5>
    </div>
    <div class="card-block table-border-style">
      <div class="table-responsive">
        <br>
        <form method="post">
            {% csrf_token %} 
            {{ form.as_p }}
        
            <button class="btn btn-primary shadow-2 mb-4">Enregistrer</button>
          </form>
      </div>
    </div>
  </div>
</div>




{% endblock content %}